<div class="container">
  <div class="col-md-12">

    <div class="jumbotron colored">

      <%= link_to "Enter New Job", new_job_path, :class => "btn btn-lg btn-secondary absoluted new-job" %>

      <%= link_to "Edit My Jobs", jobs_path, :class => "btn btn-lg btn-main absoluted edit-jobs" %>

      <div class="dashboard-header">
        <h1>Welcome <%= current_user[:first_name] %></h1>

        <% if @jobs.empty? %>
            <p>Haven't entered any jobs yet? <%= link_to "Enter in", new_job_path %> your job now!</p>
        <% else %>
            <p>Check out your vacation information below.</p>
        <% end %>

      </div>

      <% if @jobs.any? %>

          <% @jobs.each do |job| %>

              <div class="dashboard-info">

                <div class="dashboard-info-top">
                  <h2 class="job-title"><%= job.title %> - <%= job.company %></h2>

                  <%= link_to "Edit", edit_job_path(job), :class => "btn btn-main edit-btn" %>

                  <div class="clearfix"></div>
                </div>

                <div class="box first vacation-days">
                  <h2 class="box-label">
                    Vac Days
                  </h2>
                  <div class="box-value">
                    <%= job.vacation_days.to_i %>
                  </div>
                </div>

                <div class="box vacation-amount">
                  <h2 class="box-label">
                    Vac Amount
                  </h2>
                  <div class="box-value">
                    $<%= number_with_precision(job.vacation_amount, :precision => 2) %>
                  </div>
                </div>

                <div class="box vacation-days-used">
                  <h2 class="box-label">
                    Vac Days Used
                  </h2>
                  <div class="box-value">
                    <%= job.vacation_days_used.to_i %>
                  </div>
                </div>

                <div class="box vacation-amount-used">
                  <h2 class="box-label">
                    Vac Amount Used
                  </h2>
                  <div class="box-value">
                    $<%= number_with_precision(job.vacation_amount_used, :precision => 2) %>
                  </div>
                </div>

                <div class="clearfix"></div>
              </div>

          <% end %>

      <% end %>

    </div>
  </div>
</div>