<div class="container">

  <div class="col-md-12">

    <div class="light-content jumbotron">

      <h1>Register</h1>

      <p>Registering is a quick process that will allow you to use the vacation tracker.</p>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.label :first_name %><br />
            <%= f.text_field :first_name, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :last_name %><br />
            <%= f.text_field :last_name %>
          </div>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>

          <div class="actions">
            <%= f.submit "Sign up", :class => "btn btn-main" %>
          </div>
      <% end %>

    </div>

  </div>

</div>